<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Tezos Demo</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/'">Home</a>
      <a mat-button [routerLink]="'/transfer'"> Transfer </a>
      <a mat-button [routerLink]="'/spender-allowance'"> SpenderAllowance </a>
      <a mat-button [routerLink]="'/mint'"> Mint </a>
      <a mat-button [routerLink]="'/burn-from'"> BurnFrom </a>
      <a mat-button [routerLink]="'/about'"> About </a>
      <a mat-button [routerLink]="'/contact'"> Contact </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>