<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
        <mat-card class="example-card">
        <mat-card-title>
          Crowdfunder
        </mat-card-title>
        
          <mat-card-content>
            <div style="font-weight: 900" [innerHtml]="loading"></div>
            <br>
            <div>Administrator : <span style="font-weight: 900" [innerHtml]="administrator"></span></div>
            <br>
            <div>End date : <span style="font-weight: 900" [innerHtml]="end_date"></span></div>
            <br>
            <div>Total amount of xtz contributed : <span style="font-weight: 900" [innerHtml]="xtzContributionTotal"></span></div>
            <br>
            <div>Average contribution amount : <span style="font-weight: 900" [innerHtml]="avg"></span></div>
            <br>
            <div>Number of contributions : <span style="font-weight: 900" [innerHtml]="contributionCount"></span></div>
            <br>
            <div>Number of tokens created : <span style="font-weight: 900" [innerHtml]="totalSupply"></span></div>
          
          </mat-card-content>
          
      </mat-card>

    </mat-grid-tile>
   
</mat-grid-list>